schemas/timed-status.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ts="urn:ietf:params:xml:ns:pidf:timed-status" xmlns:pidf="urn:ietf:params:xml:ns:pidf" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ietf:params:xml:ns:pidf:timed-status" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="urn:ietf:params:xml:ns:pidf" schemaLocation="pidf.xsd"/>
  <xs:annotation>
    <xs:documentation>
          Describes timed-status tuple extensions for PIDF.
        </xs:documentation>
  </xs:annotation>
  <xs:element name="timed-status" type="ts:timed-status"/>
  <xs:complexType name="timed-status">
    <xs:sequence>
      <xs:element name="basic" type="pidf:basic" minOccurs="0"/>
      <xs:element name="note" type="pidf:note" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="from" type="xs:dateTime" use="required"/>
    <xs:attribute name="until" type="xs:dateTime"/>
  </xs:complexType>
</xs:schema>
